.cars{
  &__wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;

    &-content{
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .car-name{
      font-weight: 700;
      font-size: 1.2rem;
      text-align: center;
      line-height: 1.7rem;
    }

    .car-price{
      text-align: center;
    }
  }

  .book-btn{
    @include secondary-btn($primary-color);
    cursor: pointer;
    @include transition;
  }
}